@using ECommerceSolution.WEB.Areas.Admin.ViewModel.VendorModels
@model IEnumerable<VendorModel>

@{
    ViewData["Title"] = "View Vendors";
}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<div class="row page-titles">
    <div class="col-md-6 align-self-center">
        <h3>Vendors</h3>
    </div>
    <div class="col-md-6 text-right font-12">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a> &gt; Vendors
    </div>
    <div class="">
        <button class="right-side-toggle waves-effect waves-light bg-primary btn btn-circle btn-sm pull-right ml-10">
            <i class="ti-settings text-white"></i>
        </button>
    </div>
</div>
@if (ViewBag.Msg != null)
{
    <div class="alert alert-success" id="alertId">
        <h1>@ViewBag.Msg</h1>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="card">
    <div class="card-header bg-light clearfix">
        <a asp-area="Admin" asp-controller="Vendors" asp-action="Create" class="btn btn-outline-primary float-right"><i class="fa fa-plus"></i> Add</a>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="Vendors-table" class="display nowrap table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Vendor Name</th>
                                <th>Vendor Type</th>
                                <th>Mobile No</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @if (Model.Count() > 0)
                        {
                            <tbody>
                                @{
                                    int counter = 0;
                                    foreach (var vendor in @Model)
                                    {
                                        <tr>
                                            <td>@(++counter)</td>
                                            <td>@vendor.VendorName</td>
                                            <td>@vendor.VendorTypeName</td>
                                            <td>@vendor.MobileNumber</td>
                                            <td>@vendor.Description</td>
                                            <td>
                                                <span class="btn waves-effect waves-light btn-rounded @vendor.StatusClass">
                                                    @vendor.Status
                                                </span>
                                            </td>
                                            <td>
                                                <a asp-area="Admin" asp-controller="Vendors" asp-action="Edit" asp-route-id="@vendor.Id" class="pencil-icon">
                                                    <i class="fa fa-pencil" aria-hidden="true">
                                                    </i>
                                                </a>
                                                <a asp-area="Admin" asp-controller="Vendors" asp-action="Details" asp-route-id="@vendor.Id" class="pencil-icon">
                                                    <i class="fa fa-info"></i>
                                                </a>
                                                <a asp-area="Admin" asp-controller="Vendors" asp-action="Delete" asp-route-id="@vendor.Id" class="delete-icon">
                                                    <i class="fa fa-trash" aria-hidden="true">
                                                    </i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        }

                    </table>
                    <!-- ============================================================== -->
                    <!-- End PAge Content -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- End Container fluid  -->
                    <!-- ============================================================== -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#Vendors-table').DataTable();
    </script>
    <script>
        window.setTimeout(function () {
            $("#alertId").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 3000);
    </script>


}
